@import 'tailwindcss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 font-sans;
}

#root {
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}

